@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import "tailwindcss";
@config "../tailwind.config.cjs";

@layer base {
  :root {
    --color-primary: #042c33;
    --color-secondary: #a47c5c;
    --color-accent: #d18d6c;
    --color-light: #d2c0a9;
    --color-text: #244444;
  }

  body {
    /* Fondo muy sutil basado en tu color claro para el 60% de la web */
    background-color: #fcfbfa;
    color: var(--color-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
  }
}

/* Scrollbar premium opcional */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #042c33;
  border-radius: 4px;
}